
<div>
     
     Login <input type="text" id="login">
     Senha <input type="password" id="senha">
    <a asp-controller="Nivel" asp-action="Index" class="btn btn-sm btn-success"> ENTRAR </a>

</div>

