@model ListaNivelViewModel

<h1 style="color:#FC8A58;">@ViewData["TipoConta"]</h1>

 @foreach (var item in Model.Niveis)
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center" style="width:219px;height:248px;">

                <img src="~/img/circulo.png" style="margin:0 auto;width:50%;" class="card-img-top rounded-circle" alt="...">

                <div class="card-body">

                    <h5 class="card-title">@item.Nome</h5>
                </div>
            </div>
        </div>
   </div>
        }


        <div>

            Login <input type="text" id="login">
            Senha <input type="password" id="senha">
            <a asp-controller="Nivel" asp-action="Index" class="btn btn-sm btn-success"> ENTRAR </a>

        </div>
 
