@model NivelViewModel

@ViewData["title"]
<div>
    <form method="post">
          nome <input asp-for="Nome" type="text">
          <button type="submit" style="background-color: #FF8C00;"> 
             @ViewData["TitleButton"]
          </button>
    </form>  

</div>